<h1>Clientes por LINQ</h1>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Teléfono</th>
        <th>País</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesLinq">
        <td>{{ cliente.Id }}</td>
        <td>{{ cliente.DNI }}</td>
        <td>{{ cliente.ClienteNombre }}</td>
        <td>{{ cliente.ApellidoP }}</td>
        <td>{{ cliente.ApellidoM }}</td>
        <td>{{ cliente.Telefono }}</td>
        <td>{{ cliente.PaisNombre }}</td>
      </tr>
    </tbody>
  </table>
  
  <h1>Clientes por SP</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Teléfono</th>
        <th>País</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesLinq">
        <td>{{ cliente.Id }}</td>
        <td>{{ cliente.DNI }}</td>
        <td>{{ cliente.ClienteNombre }}</td>
        <td>{{ cliente.ApellidoP }}</td>
        <td>{{ cliente.ApellidoM }}</td>
        <td>{{ cliente.Telefono }}</td>
        <td>{{ cliente.PaisNombre }}</td>
      </tr>
    </tbody>
  </table>
  